<h1>Conditional Custom Validator</h1>

<form (change)="validate()" (focusout)="validate()" (ngSubmit)="onSubmit()" [formGroup]="form">

  <label>
    Email:
    <input formControlName="email" type="text">
  </label>

  <label>
    Vor- und Nachname:
    <input formControlName="fullName" type="text">
  </label>

  <div formGroupName="address">
    <p>Adresse</p>

    <label>
      Straße:
      <input formControlName="street" type="text">
    </label>

    <label>
      PLZ:
      <input formControlName="zip" type="text">
    </label>

    <label>
      Stadt:
      <input formControlName="city" type="text">
    </label>
  </div>

  <p>Rechnungsadresse</p>

  <div>
    <input formControlName="abweichendeRechnungsadresse" id="abweichendeRechnungsadresse" type="checkbox">
    <label for="abweichendeRechnungsadresse">Abweichende Rechnungsadresse</label>
  </div>

  <div>

    <label>
      Straße:
      <input formControlName="invoiceStreet" type="text">
    </label>

    <label>
      PLZ:
      <input formControlName="invoiceZip" type="text">
    </label>

    <label>
      Stadt:
      <input formControlName="invoiceCity" type="text">
    </label>
  </div>

  <button [disabled]="!form.valid" type="submit">Absenden</button>
</form>

<h2>Angular Documentation:</h2>
<ul>
  <li>
    <a href="https://angular.io/guide/reactive-forms" rel="noopener" target="_blank">Reactive Forms</a>
  </li>
  <li>
    <a href="https://angular.io/guide/form-validation#custom-validators" rel="noopener" target="_blank">Custom
      Validator</a>
  </li>
</ul>

<router-outlet></router-outlet>
