<h1>
  Welcome to {{ title }}!
</h1>

<form (ngSubmit)="onSubmit()" [formGroup]="form">

  <label>
    Email:
    <input formControlName="email" type="text">
  </label>

  <label>
    Vor- und Nachname:
    <input formControlName="fullName" type="text">
  </label>

  <div formGroupName="address">
    <h3>Adresse</h3>

    <label>
      Straße:
      <input formControlName="street" type="text">
    </label>

    <label>
      Stadt:
      <input formControlName="city" type="text">
    </label>

    <label>
      PLZ:
      <input formControlName="zip" type="text">
    </label>
  </div>

  <div>
    <input formControlName="abweichendeRechnungsAdresse" id="abweichendeRechnungsAdresse" type="checkbox">
    <label for="abweichendeRechnungsAdresse">Abweichende Rechnungsadresse</label>
  </div>

  <div formGroupName="invoiceAddress">
    <h3>Rechnungsadresse</h3>

    <label>
      Straße:
      <input formControlName="street" type="text">
    </label>

    <label>
      Stadt:
      <input formControlName="city" type="text">
    </label>

    <label>
      PLZ:
      <input formControlName="zip" type="text">
    </label>
  </div>

  <button [disabled]="!form.valid" type="submit">Absenden</button>
</form>

<h2>Angular Documentation:</h2>
<ul>
  <li>
    <a href="https://angular.io/guide/reactive-forms" rel="noopener" target="_blank">Reactive Forms</a>
  </li>
  <li>
    <a href="https://angular.io/guide/form-validation#custom-validators" rel="noopener" target="_blank">Custom
      Validator</a>
  </li>
</ul>

<router-outlet></router-outlet>
